
@{
    ViewData["Title"] = "AdminPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AdminPanel</h1>


<div class="container mt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Leagues" asp-action="Index">Leagues - View and manage football leagues</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Teams" asp-action="Index">Teams - View and manage football teams</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Referees" asp-action="Index">Referees - View and manage football referees</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Matches" asp-action="Index">Matches - View and manage football matches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="TeamStatistics" asp-action="Index">Team Statistics - View statistics in league(Add a team to the league)</a>
        </li>

    </ul>
</div>





